button.el-button {
  padding: 0 22px;
  width: auto;
  min-width: unset;
  height: auto;
  line-height: normal;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.6);
  }
  &:active,
  &.active {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.6);
  }
  &:focus-visible {
    outline: none;
  }

  &.is-plain {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.15);
      border-color: rgba(255, 255, 255, 0.6);
    }
    &:focus-visible {
      outline: none;
    }
  }

  & + .el-button {
    margin-left: 16px;
  }

  .icon-img {
    width: 16px;
    height: 16px;
    background-size: 100% 16px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 8px;

    &.add-icon-ic {
      background-image: url(^/editor/add-icon.png);
    }
    &.lock-icon-ic {
      background-image: url(^/editor/lock-icon.png);
    }
    &.hide-icon-ic {
      background-image: url(^/editor/hide-icon.png);
    }
    &.link {
      background-image: url(^/button/link.png);
    }
    &.add {
      background-image: url(^/button/add.png);
    }
    &.edit {
      background-image: url(^/button/edit.png);
    }
    &.edit-b {
      background-image: url(^/button/edit-b.png);
    }
    &.delete {
      background-image: url(^/button/delete.png);
    }
    &.delete-b {
      background-image: url(^/button/delete-b.png);
    }
    &.material-btn {
      background-image: url(^/editor/material-btn-icon.png);
    }
    &.particle-btn {
      background-image: url(^/editor/particle-btn-icon.png);
    }
    &.give {
      background-image: url(^/button/give-24.png);
    }
    &.add {
      background-image: url(^/button/add-24.png);
    }
    &.absorb {
      background-image: url(^/button/absorb-24.png);
    }
    &.app {
      background-image: url("^/editor/app-icon.png");
    }
    &.rotate {
      background-image: url("^/editor/rotate-icon.png");
    }
    &.scale {
      background-image: url("^/editor/scale-icon.png");
    }
    &.move {
      background-image: url("^/editor/move-icon.png");
    }
    &.download {
      background-image: url("^/editor/export-icon.png");
    }
    &.downloading {
      background-image: url("^/button/downloading.png");
      animation: cricl 3s linear infinite;
    }
    &.preview {
      background-image: url("^/home/preview-icon.png");
    }
    &.delete {
      background-image: url("^/home/delete-icon.png");
    }
  }

  & > span {
    font-family: AlibabaPuHuiTiR;
    .font-size(14px, #fff);
    margin: 8px 0;
    height: 14px;
    line-height: 14px;
  }

  &.icon-btu {
    padding: 0 12px;
  }

  &.is-link {
    background-color: transparent;
    border-color: transparent;

    &:not(.is-disabled):hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    i {
      margin-right: 0;
    }
  }

  &.el-button--primary,
  &.bc {
    background-color: rgba(15, 141, 255, 1);
    border-color: rgba(15, 141, 255, 1);

    &:hover {
      background-color: rgba(0, 109, 207, 1);
      border-color: rgba(0, 109, 207, 1);
    }

    &:active {
      background-color: rgba(0, 97, 184, 1);
      border-color: rgba(0, 97, 184, 1);
    }

    &.is-link {
      background-color: transparent;
      border-color: transparent;
    }

    &.is-disabled {
      background-color: rgba(15, 141, 255, 0.7);
      border-color: rgba(15, 141, 255, 0.7);
    }
  }

  &.only-icon {
    padding: 0;
    border: 0;
    width: 16px;
    height: 16px;

    & > span {
      margin: 0;
    }

    .icon-img {
      margin-right: 0;
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }

    &.cir {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    &.big {
      width: 24px;
      height: 24px;

      .icon-img {
        width: 24px;
        height: 24px;
        margin-right: 0;
        background-size: 32px 32px;

        &.tf {
          background-size: 24px 24px;
        }
      }
    }

    &.bigger {
      width: 32px;
      height: 32px;
      border-radius: 2px;

      .icon-img {
        width: 24px;
        height: 24px;
        margin-right: 0;
        background-size: 32px 32px;
      }
    }

    &.border {
      border: 1px solid rgba(255, 255, 255, 0.23);
    }
  }
}

i {
  &.icon {
    display: inline-block;
    cursor: pointer;

    &.close {
      float: right;
      width: 12px;
      height: 12px;
      background-image: url(^/close.png);
      background-size: 100% 100%;
    }
  }
}

@keyframes cricl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
